/* .class #id */

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: sans-serif;
}

#div_header {
  background-color: #71d72d;
  /* text-align: center; */
  font-size: 48pt;
  color: white;
  padding-left: 0.1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#div_menu {
  display: flex;
  flex-direction: row;
  background-color: #71d72d;
  color: white;
}

.menu_top {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.menu_top:hover {
  background-color: #63c125;
  cursor: pointer;
}

#div_game {
  display: flex;
  flex-direction: row;
}

#div_left {
  display: flex;
  flex-direction: column;
  background-color: #d1ad78;
  flex-basis: auto;
}

.menu_left {
  color: #3a3a3a;
  padding: 0.5em;
  white-space: nowrap;
}

.menu_left:hover {
  background-color: #c79c5c;
  cursor: pointer;
}

#div_center {
  padding: 0.5em;
}

.img_hidden {
  display: none;
}

#div_turtlePlusMessage {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#img_turtle {
  transform: scale(0.75,0.75);
  transform-origin: 0% 0%;
  width: 72;
  height: 61;
  padding: 0.1em;
  margin-left: 0.2em;  
  /*backface-visibility: hidden;*/
}

/*
@keyframes wiggle {
  0% {
    transform: scaleX(-1) rotate(0deg);
  }
  33% {
    transform: scale(-1.05,1.05) rotate(5deg);
  }
  66% {
    transform: scale(-1.05,1.05) rotate(-5deg);
  }
  100% {
    transform: scaleX(-1) rotate(0deg);
  }
}

#img_turtle:hover {
  animation: wiggle 1s 1;
}
*/

#div_message {
  font-size: large;
  padding: 0.5em;
  border-radius: 0.7em;
  background-color: #a5e67a;
  margin-left: 0.5em;
  margin-top: 0.5em;
  /*opacity: 0;*/
}

#div_stats {
  display: none;
  padding: 0.5em;
}

#div_about {
  display: none;
  padding: 0.5em;
  font-family: cursive;
  font-size: x-large;
}

#img_louis {
  width: 288;
  height: 243;
}
